body {
   margin:0;
   padding:0; 
}
.container {
   size:960px;
}

.header {
   background-color:#ffffff;
   border-bottom:#dddddd solid 3px;
}

.navbar-brand {
   color:white;
   background-color:#4aaaa5;
   font-family: 'Poiret One', cursive;
   width:20%;
   padding:15px;
   position:absolute;
}

.navbar-nav  {
   text-orientation: sideways-right;
   font-family: 'Sofia', cursive;
   color:black;
   text-decoration:none;
   margin-left:85%;
}

.about, .portfolio, .contact {
   color:#4aaaa5;
   font-family: 'Sofia', cursive;
   margin-top:10px;
   margin-bottom:10px;
   border-bottom: 3px solid #dddddd;
   background-color:white;
}

#headshot {
   float:left;
   height:250px;
   padding:10px;
}

.portfolioLinks {
   text-align: center;
   font-size:20px;
}

.details {
   overflow:visible;
   background-color:white;
   font-family:'Poiret One', cursive;
   color:#777777;
   font-size:25px;
}

.portfolioPic {
   float:left;
   height:300px;
   width:300px;
   /* padding:5%; */
   border:#dddddd solid 1px;
   margin:10%
}

form {
   text-align:left;
   font-family:'Poiret One', cursive;
   width:100px;
   color:#777777;
   box-sizing: border-box;
   resize:vertical;
   background-color:white;
}

.form-control {
   width:500px;
}

#subject {
   background-color:white;
   color:#777777;
}

.submit {
   background-color:#4aaaa5;
   font-family: 'Sofia', cursive;
   color:white;
   margin:10px
}

.contactPic {
   float:left;
   height:100px;
   width:100px;
   padding:10%;
   border:#dddddd solid 1px;
   margin:40px
}

.footer {
   background-color:#666666;
   border-top:#4aaaa5 solid 8px;
   height:20px;
   width:100%;
   padding: 15px;
   position:fixed;
   bottom:0;
}

#Header{
   color: white;
}