body {
   margin:0;
   padding:0; 
}
.container {
   size:960px;
}

.header {
   background-color:#ffffff;
   border-bottom:#dddddd solid 3px;
}

.navbar-brand {
   color:white;
   background-color:#4aaaa5;
   font-family:'Times New Roman', Times, serif;
   width:20%;
   padding:15px;
   float:left;
   position:fixed;
   margin-left:85px;
}

.navbar-nav  {
   text-orientation: sideways-right;
   float:right; 
   font-family:Arial, Helvetica, sans-serif;
   color:black;
   margin-left:800px;
   text-decoration:none;
}

.about, .portfolio, .contact {
   color:#4aaaa5;
   font-family:'Times New Roman', Times, serif;
   margin-left:100px;
   margin-right:100px;
   margin-top:10px;
   border-bottom: 3px solid #dddddd;
   width:80%;
   background-color:white;
}

.about {
   margin-left:100px;
}

img {
   float:left;
   
   height:200px;
}

.details {
   overflow:visible;
   background-color:white;
   font-family:Arial, Helvetica, sans-serif;
   color:#777777;
   font-size:25px;
   margin-left:100px;
   margin-right:100px;
}


#img-fluid {
   margin-left:100px;
   margin-right:100px;
   widows:100px;
   background-color:white;
   padding:50px 545px 50px 50px;
}


.form {
   font-family:Arial, Helvetica, sans-serif;
   color:#777777;
   box-sizing: border-box;
   resize:vertical;
   margin-left:100px;
   margin-right:190px;
   background-color:white;
}

form {
   text-align:left;
   width:100px;
   margin-left:100px;
}

.form-control {
   width:500px;
}

#subject {
   background-color:white;
   color:#777777;
}

.submit {
   background-color:#4aaaa5;
   margin-left:100px;
   color:white;
}

.footer {
   background-color:#666666;
   border-top:#4aaaa5 solid 8px;
   height:20px;
   width:100%;
   padding: 15px;
   position:absolute;
   bottom:0;
}

#Header{
   color: white;
}